html { scroll-behavior: smooth; }
body {  font-family: 'Open Sans', sans-serif; }
::-webkit-scrollbar { width: calc(var(--gap) / 1.55); } 
::-webkit-scrollbar-track { background: var(--color__dark); }
::-webkit-scrollbar-thumb { background: var(--color__primary); }

[data-txt-color="primary"],
[data-txt-color="primary"]:visited { color: var(--color__primary); }
[data-txt-color="white"],
[data-txt-color="white"]:visited { color: var(--color__white); }
[data-txt-color="black"],
[data-txt-color="black"]:visited { color: var(--color__black); }
[data-txt-color="grey"],
[data-txt-color="grey"]:visited { color: var(--color__grey); }

[data-bg-color="primary"] { background-color: var(--color__primary); }
[data-bg-color="white"] { background-color: var(--color__white); }
[data-bg-color="black"] { background-color: var(--color__black); }
[data-bg-color="grey"] { background-color: var(--color__grey); }

[data-bg-trans="black-01"] { background-color: var(--color__trans_black_01); }

[data-bg-img="hero"] { background-image: url(../../images/backs/bg__hero.webp); }
[data-bg-img="gradient"] { background-image: url(../../images/backs/bg__blackgradient.png); }
[data-bg-img="white-section"] { background-image:  url(../../images/backs/bg__linespattern_white.png);  }
[data-bg-img="black-section"] { background-image: url(../../images/backs/bg__linespattern_black.png); }
[data-bg-img="clients"] { background-image: url(../../images/backs/bg__clients.webp); }
.bg_img { background-repeat: no-repeat; background-position: top center; background-size: cover; }
.bg_section { background-repeat: repeat-y; background-position: top left; }

.fill_primary { fill: var(--color__primary); }
.fill_white { fill: var(--color__white); }
.fill_black { fill: var(--color__black); }
.fill_grey { fill: var(--color__grey); }

.d_flex { display: flex; }
.d_block { display: block; }
.d_none { display: none; }
.d_grid { display: grid; }
.flow_wrap { flex-flow: row wrap }
.flex_row { flex-direction: row; }
.flex_column { flex-direction: column; }
.justify_content-start { justify-content: flex-start; }
.justify_content-center { justify-content: center; }
.justify_content-end { justify-content: flex-end; }
.justify_content-between { justify-content: space-between; }
.justify_content-around { justify-content: space-around; }
.align_items-start { align-items: flex-start; }
.align_items-center { align-items: center; }
.align_items-end { align-items: flex-end; }
.max_100 { max-width: 100%; }
.w_100 { width: 100%; }
.h_100 { height: 100%; }
.mx_auto { margin-inline: auto; }
.overflow_hidden { overflow: hidden; }
.object_cover { object-fit: cover; }
.object_center { object-position: center; }
.radius_100 { border-radius: 100%; }
.position_relative { position: relative; }
.position_absolute { position: absolute; }
.position_fixed { position: fixed; }
.position_sticky { position: sticky; }

[data-txt-weight="400"] { font-weight: 400; }
[data-txt-weight="500"] { font-weight: 500; }
[data-txt-weight="600"] { font-weight: 600; }
[data-txt-weight="700"] { font-weight: 700; }
[data-txt-weight="800"] { font-weight: 800; }

[data-txt-transform="capitalize"] { text-transform: capitalize; }
[data-txt-transform="uppercase"] { text-transform: uppercase; }
[data-txt-transform="lowercase"] { text-transform: lowercase; }

[data-txt-font="playfair"] { font-family: 'Playfair Display', sans-serif;  }
[data-txt-font="opensans"] { font-family: 'Open Sans', sans-serif;  }

[data-txt-decoration="none"] { text-decoration: none; }
[data-txt-decoration="underline"] { text-decoration: lowercase; }

[data-txt-style="normal"] { font-style: normal; }
[data-txt-style="italic"] { font-style: italic; }

[data-txt-align="right"] { text-align: right; }
[data-txt-align="center"] { text-align: center; }
[data-txt-align="left"] { text-align: left; }
[data-txt-talign="justify"] { text-align: justify; }

.animation__slideOutUp { -webkit-animation: var(--animation__slideOutUp); animation: var(--animation__slideOutUp); }
.animation__slideInDown { -webkit-animation: var(--animation__slideInDown); animation: var(--animation__slideInDown); }
.animation__slideInRight { -webkit-animation: var(--animation__slideInRight); animation: var(--animation__slideInRight); }
.animation__slideOutRight { -webkit-animation: var(--animation__slideOutRight); animation: var(--animation__slideOutRight); }

.section { padding-block: calc(var(--padding) * 6); }
.row { gap: calc(var(--gap) * 5);  padding-inline: var(--padding); max-width: calc(var(--width) - (var(--padding) * 2)); }
.title { font-size: clamp(calc(var(--gap) * 1.65), 3.25vw, calc(var(--gap) * 1.85)); }
.text { font-size: clamp(calc(var(--gap) * 1.2), 3.25vw, calc(var(--gap) * 1.225)); line-height: 1.8;}
.btn { border: none; padding-inline: calc(var(--padding) * 2.8); border-radius: calc(var(--radius) * 2); width: fit-content; height: calc(var(--gap) * 4.25); font-size: clamp(calc(var(--gap) * 1.25), 3.25vw, calc(var(--gap) * 1.5)); }
.input { padding-block: calc(var(--padding) / 1.8); padding-inline: calc(var(--padding) / 1.5); border: none; border-bottom: var(--border__light) var(--color__lightgrey); font-size: clamp(calc(var(--gap) * 1.2), 3.25vw, calc(var(--gap) * 1.225)); outline: none; resize: none; }
.input::placeholder { color: var(--color__placeholder); font-style: italic; -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
.input:focus { background-color: var(--color__primary); -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
.input:focus::placeholder { color: var(--color__grey); }
textarea.input { height: calc(var(--gap) * 10); }
[disabled] { opacity: .5; }
.titlebox { gap: calc(var(--gap) * 1.25); border-left: var(--border) var(--color__primary); padding-left: calc(var(--padding) * 1.25); height: calc(var(--gap) * 8.25) }
.titlebox::before { content: attr(data-titlebox-id); position: absolute; top: calc(var(--gap) - (var(--gap) * 3.5)); left: 0; font-family: 'Open Sans', sans-serif; color: var(--color__grey); font-size: calc(var(--gap) * 14); font-weight: 500; z-index: 1; opacity: .15; }
.titlebox__title { font-size: clamp(calc(var(--gap) * 2.5), 4vw, calc(var(--gap) * 3.25)); z-index: 2; }
.titlebox__text { max-width: calc(var(--width) / 2); font-size: clamp(calc(var(--gap) * 1.35), 4vw, calc(var(--gap) * 1.55)); line-height: 1.5; z-index: 2; }

.header { top: 0; left: 0; height: calc(var(--gap) * 6.5); z-index: 10;  -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
.header h1 { color: transparent; font-size: 0; }
.header__logo { font-size: clamp(calc(var(--gap) * 2), 3.25vw, calc(var(--gap) * 2.25)); -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
.header.fixed { background-color: var(--color__dark);  -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
.header.fixed .header__logo,
.header.fixed .header__logo:visited { color: var(--color__white); -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
@media(min-width: 920px) {
    .header__toggler,
    .nav { display: none!important; }
    .header__nav { gap: calc(var(--gap) * 2.5); }
    .header__nav a { font-size: calc(var(--gap) * 1.2); -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
    .header__nav a::after { content: ''; position: absolute; bottom: calc(var(--gap) - (var(--gap) * 2.25)); left: 0; display: block; width: 0%; height: calc(var(--gap) / 2.25); background-color: var(--color__primary); }
    .header.fixed .header__nav a,
    .header.fixed .header__nav a:visited { color: var(--color__white); -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
}
@media(max-width: 919.89px) {
    .header__toggler { border: var(--border__light) var(--color__black); border-radius: var(--radius); width: calc(var(--gap) * 3.8); height: calc(var(--gap) * 3.8); background-color: transparent; outline: none; -webkit-transition: background-color var(--transitionTime), border-color var(--transitionTime); transition: background-color var(--transitionTime), border-color var(--transitionTime); }
    .header.fixed .header__toggler { border-color: var(--color__white); }
    .header.fixed .header__toggler svg { fill: var(--color__white); }
    .header__toggler.active { background-color: var(--color__primary)!important; border-color: var(--color__primary)!important; -webkit-transition: background-color var(--transitionTime), border-color var(--transitionTime); transition: background-color var(--transitionTime), border-color var(--transitionTime);  }
    .header__toggler.active svg { fill: var(--color__white)!important; -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
    .header__toggler svg { max-width: calc(var(--gap) * 2.8); -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
    .header__nav { display: none; }
    .nav { top: calc(var(--gap) - (var(--gap) * 26.5) ); left: 0; border-top: var(--border__light) var(--color__black); z-index: 9;  -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
    .nav li { border-bottom: var(--border__light) var(--color__black); }
    .nav a { padding-inline: var(--padding); padding-block: var(--padding); font-size: clamp(calc(var(--gap) * 1.15), 3.25vw, calc(var(--gap) * 1.3)); -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
    .nav.fixed { background-color: var(--color__dark); -webkit-transition: background-color var(--transitionTime); transition: background-color var(--transitionTime); }
    .nav.fixed a,
    .nav.fixed a:visited { color: var(--color__white); -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
}

#hero { height: calc(100vh - (var(--gap) * 6.5)); min-height: calc(var(--gap) * 32); }
#hero .row { padding-block: calc(var(--padding) * 4); }
.hero__col { gap: calc(var(--gap) * 2.25); padding-left: calc(var(--padding) * 1.5); border-left: var(--border) var(--color__primary); max-width: calc(var(--width) / 1.3); }
.hero__data { gap: var(--gap); }
.hero__title { font-size: clamp(calc(var(--gap) * 3), 5vw, calc(var(--gap) * 6)); }
.hero__subtitle { font-size: clamp(calc(var(--gap) * 1.8), 5vw, calc(var(--gap) * 3)); }

.about__container { gap: calc(var(--gap) * 4) }
.about__col { gap: calc(var(--gap) * 2); max-width: calc((var(--width) - (var(--padding) * 2) - (var(--gap) * 4)) / 2.06); }

.history { gap: calc(var(--gap) * 2); }
.history__container { gap: var(--gap); }
.history__year { max-width: calc(var(--gap) * 7); }
.history__year h4 { font-size: clamp(calc(var(--gap) * 1.3), 3.25vw, calc(var(--gap) * 1.5)); }
.history__content { max-width: calc(100% - (var(--gap) * 8)); }
.history__content p { font-size: clamp(calc(var(--gap) * 1.2), 3.25vw, calc(var(--gap) * 1.355)); line-height: 1.5; }

.practis__container { gap: calc(var(--gap) * 4); max-width: calc(var(--width) / 1.25); }
.practisbox { max-width: calc(((var(--width) / 1.25) - (var(--gap) * 4)) / 2); }
.practisbox { gap: calc(var(--gap) * 2); }
.practisbox__icon { max-width: calc(var(--gap) * 4.5); }
.practicebox__content { gap: calc(var(--gap) * 1.25); max-width: calc(100% - (var(--gap) * 6.5)); }

#attorney .text { line-height: 1; }
.attorney__container { gap: calc(var(--gap) * 2); }
.attorneybox { gap: calc(var(--gap) * 1.5); max-width: calc((var(--width) - (var(--padding) * 2) - (var(--gap) * 2)) / 4.28); }
.attorneybox__content { gap: calc(var(--gap) / 1.5); }

.clientslide { padding-top:  calc(var(--gap) * 1.5); gap: calc(var(--gap) * 3); }
.clientslide__thumbnail { max-width: calc(var(--gap) * 32); }
.clientslide__thumbnail img { z-index: 2; }
.clientslide__container { gap: calc(var(--gap) * 1.25); max-width: calc((var(--width) - (var(--padding) * 2)) - (var(--gap) * 36.5)); }
.clientslide__icon { max-width: calc(var(--gap) * 2.5); }
.clientslide__content { gap: calc(var(--gap) * 2.8); max-width: calc(100% - (var(--gap) * 3.75)); }
.clientslide__data { gap: calc(var(--gap) / 1.25); }
.clientslide__data { font-size: clamp(calc(var(--gap) * 1.1), 3.25vw, calc(var(--gap) * 1.125)); }
.splide{ display: flex; flex-direction: column; gap: calc(var(--gap) * 1.5); }
.splide__pagination { position: initial; display: flex; align-items: center; gap: calc(var(--gap) * 1.5); padding: 0; }
.splide__pagination button { margin: 0; background-color: var(--color__white); width: calc(var(--gap) * 1.15); height: calc(var(--gap) * 1.15); }
.splide__pagination button.is-active { background-color: var(--color__primary); transform: none; }
@media(min-width: 500px) { .clientslide__thumbnail img { max-width: calc(100% - (var(--gap) * 1.5)); bottom: calc(var(--gap) * 1.5); } }

.publications__container { gap: calc(var(--gap) * 2.5); }
.publicationbox { max-width: calc((var(--width) - (var(--padding) * 2) - (var(--gap) * 2.5)) / 3.17); }
.publicationbox__container { gap: calc(var(--gap) * 1.4); padding-block: calc(var(--padding) * 1.5); border-bottom: var(--border) var(--color__primary); }
.publicationbox__data { gap: calc(var(--gap) / 1.25); }
.publicationbox__col { max-width: calc(100% / 2); font-size: clamp(calc(var(--gap) * 1.2), 3.25vw, calc(var(--gap) * 1.25)); }
.publicationbox__content { display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; }
.publicationbox__icon { max-width: calc(var(--gap) * 1.25); }
.publicationbox__link {  gap: calc(var(--gap) / 1.6); }
 
[data-faq-type="col"] { max-width: calc((var(--width) - (var(--padding) * 2) - (var(--gap) * 3)) / 2.06); }
.faq__container { gap: calc(var(--gap) * 3); }
.faq__buttons { gap: calc(var(--gap) * 2); }
.faq__button { padding-bottom: calc(var(--gap) * 1.15); border: none; border-bottom: var(--border) var(--color__primary); font-size: clamp(calc(var(--gap) * 1.125), 3.25vw, calc(var(--gap) * 1.28)); background: none; line-height: 1.3; -webkit-transition: color var(--transitionTime);  transition: color var(--transitionTime); }
.faq__button::after { content: ''; display: block; width: var(--gap); height: var(--gap); background-image: url(../../images/icons/icon__faq_02.png); background-repeat: no-repeat; }
.faq__button.active { color: var(--color__primary); -webkit-transition: color var(--transitionTime);  transition: color var(--transitionTime); }
.faq__button.active::after { background-image: url(../../images/icons/icon__faq_01.png); -webkit-transition: background-image var(--transitionTime); transition: background-image var(--transitionTime); }
.faqbox { padding-block: calc(var(--padding) * 1.8); padding-inline: calc(var(--padding) * 1.8); border-radius: var(--radius); -webkit-box-shadow: var(--shadow__faqbox); box-shadow: var(--shadow__faqbox); }
.faqbox a:visited{ color: var(--color__black); }

.contact__container { gap: calc(var(--gap) * 3); padding-block: calc(var(--padding) * 3); padding-inline: calc(var(--padding) * 1.5); border-radius: var(--radius); max-width: calc(var(--width) / 1.2); -webkit-box-shadow: var(--shadow__contact); box-shadow: var(--shadow__contact); }
[data-contact-type="col"] { max-width: calc(((var(--width) / 1.2) - (var(--gap) * 3) - (var(--padding) * 3)) / 2); }
.contact__form form { gap: calc(var(--gap) * 2.5); }
.contact__form fieldset { gap: calc(var(--gap) / 1.25); }
.contact__map iframe { height: calc(var(--gap) * 30); z-index: 2; }
.pristine-error { font-size: calc(var(--gap) * 1.015); color: var(--color__red); font-weight: 600;}
.has-danger .input { border-color: var(--color__trans_red_01); }
.has-danger .input:focus { background-color: var(--color__trans_red_01); }
@media(min-width: 500px) {
    .contact__map::before { content: ''; position: absolute; top: calc(var(--gap) * 1.5); left: 0; width: 100%; height: 100%; background-color: var(--color__primary); z-index: 1; }
    .contact__map iframe {  max-width: calc(100% - (var(--gap) * 1.5)); }
}

.btn__scrolltop { bottom: calc(var(--gap) * 9); right: var(--padding); border: var(--border__light) var(--color__black); width: calc(var(--gap) * 3.5); height: calc(var(--gap) * 3.5); z-index: 8; }
.btn__scrolltop svg { max-width: calc(var(--gap) * 2.25); }
.footer { padding-block: calc(var(--padding) * 2); }
.footer .row { gap: calc(var(--gap) * 2.5); }
.footer__col { max-width: calc((var(--width) - (var(--padding) * 2) - (var(--gap) * 2.5)) / 2.06); min-height: calc(var(--gap) * 3); }
.footer__disclaimer { font-size: clamp(calc(var(--gap) * 1.3), 3.25vw, calc(var(--gap) * 1.45)); }
[data-footer-col="2"] { gap: calc(var(--gap) * 2);  }
[data-footer-col="2"] a { border: var(--border__light) var(--color__white); width: calc(var(--gap) * 3); height: calc(var(--gap) * 3); }
[data-footer-col="2"] svg { max-width: calc(var(--gap) * 1.5); }
@media(min-width: 1245px) { [data-footer-col="2"] { justify-content: flex-end; } }
@media(max-width: 1244.89px) {
    .footer__disclaimer { text-align: center; }
    [data-footer-col="2"] { justify-content: center; }
}

@media(hover:hover) {
    .btn,
    .btn:hover { -webkit-transition: color var(--transitionTime), background-color var(--transitionTime); transition: color var(--transitionTime), background-color var(--transitionTime); }
    .header__nav a::after,
    .header__nav a:hover::after { -webkit-transition: width var(--transitionTime); transition: width var(--transitionTime); }
    .publicationbox a,
    .publicationbox a:hover { -webkit-transition: color var(--transitionTime); transition: color var(--transitionTime); }
    [data-footer-col="2"] a,
    [data-footer-col="2"] a:hover,
    .btn__scrolltop,
    .btn__scrolltop:hover { -webkit-transition: border-color var(--transitionTime), background-color var(--transitionTime); transition: border-color var(--transitionTime), background-color var(--transitionTime); }
    [data-footer-col="2"] a svg,
    [data-footer-col="2"] a:hover svg,
    .publicationbox a svg,
    .publicationbox a:hover svg,
    .btn__scrolltop svg,
    .btn__scrolltop:hover svg { -webkit-transition: fill var(--transitionTime); transition: fill var(--transitionTime); }
    
    .btn:hover { color: var(--color__white); background-color: var(--color__black); }
    .header__nav a:hover::after { width: 100%; }
    .publicationbox a:hover { color: var(--color__primary); }
    .publicationbox a:hover svg { fill: var(--color__primary); }
    [data-footer-col="2"] a:hover { border-color: var(--color__primary); background-color: var(--color__primary); }
    [data-footer-col="2"] a:hover svg { fill: var(--color__black); }
    .btn__scrolltop:hover { border-color: var(--color__primary); background-color: var(--color__black); }
    .btn__scrolltop:hover svg { fill: var(--color__white); }
} 